.modalWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;

  p {
    font-weight: 300;
  }
}

.module {
  display: flex;
  flex-direction: column;
  gap: 0;

  .text {
    color: #37546d;
    font-size: 15px;
    font-weight: 300;
  }
}
