.infiniteScroll {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .jobs {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }
}
