.mainWrapper {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 80%;

  .jobs {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }
}
